@use '../../../../scss/variables' as *;

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  
  .field__content {
    display: flex;
    justify-content: space-between;
    
    .field__name {
      @include text;
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
  
    .field__value {
      @include text;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
  }

  .field__border {
    @include linkBorder;
  }
}