@use '../../scss/variables' as *;

.profile {
  @include flexColCen;
  @include centerContainer;
  min-height: 70rem;
  padding: 7.4rem 43.5rem;
  box-sizing: border-box;
  gap: 12.3rem;
  margin: 0 auto;

  .profile__title {
    @include text;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $white;
  }

  .profile__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
  }

  .profile__buttons {
    width: 100%;
    margin-top: 9.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    p {
      @include text;
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: $white;
      cursor: pointer;
    }

    .profile__exit-btn {
      color: $red;
    }
  }
}