@use '../../../../scss' as *;

.techs {
  @include pagePadding;
  min-height: 62.5rem;
  background-color: $grey-bg;
  box-sizing: border-box;

  .techs__content {
    margin-top: 9rem;
    @include flexColCen;
    gap: 2.6rem;

    .techs__title {
      @include text;
      font-size: 5rem;
      line-height: 5.8rem;
      letter-spacing: -0.04em;
    }

    .techs__text {
      @include text;
      font-size: 1.4rem;
      line-height: 2rem;
      max-width: 46rem;
      text-align: center;
      letter-spacing: -0.04em;
    }

    .techs__blocks-container {
      margin-top: 7.4rem;
      display: flex;
      gap: 1rem;
    }
  }
}