@use '../../../../scss' as *;

.techs {
  @include pagePadding;
  min-height: 62.5rem;
  background-color: $grey-bg;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    padding: 9rem 7rem;
  }

  @media screen and (max-width: 768px) {
    padding: 7rem 1.8rem;
  }

  .techs__wrapper {
    @include centerContainer;

    .techs__content {
      margin-top: 9rem;
      @include flexColCen;
      gap: 2.6rem;

      .techs__title {
        @include text;
        font-size: 5rem;
        line-height: 5.8rem;
        letter-spacing: -0.04em;

        @media screen and (max-width: 400px) {
          font-size: 3rem;
          line-height: 3.6rem;
        }
      }

      .techs__text {
        @include text;
        font-size: 1.4rem;
        line-height: 2rem;
        max-width: 46rem;
        text-align: center;
        letter-spacing: -0.04em;

        @media screen and (max-width: 768px) {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }

        @media screen and (max-width: 400px) {
          font-size: 1.1rem;
          line-height: 1.6rem;
        }
      }

      .techs__blocks-container {
        margin-top: 7.4rem;
        display: flex;
        gap: 1rem;

        @media screen and (max-width: 670px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 400px) {
          margin-top: 2.4rem;
        }
      }
    }
  }
}
