@use '../../scss/variables' as *;

.app {
  max-width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: $black;
  overflow-x: hidden;

  .menu-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    .nav-movies__account-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
      width: 10rem;
      height: 3.2rem;
      border: 0.2rem solid $input-outline-02opaque;
      border-radius: 5rem;
      padding: 0.8rem 1.2rem;
      box-sizing: border-box;
      cursor: pointer;
  
      .nav-account {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .error__popup{
    min-width: 40rem;
    max-width: 50rem;
    height: fit-content;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    background-color: $grey-text;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: inset 0 0 0.5rem $red-error, 0 0 1rem $red-error;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

    .error__message {
      @include text;
      font-size: 1.8rem;
      text-align: center;
    }

    .error__close-btn{
      width: 4rem;
      height: auto;
      border: none;
      background-color: transparent;
      background-image: url('../../assets/images/cancel.png');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      // z-index: ;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
