@use '../../../../scss/variables' as *;

.auth-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .auth-field__name {
    @include text;
    font-size: 1rem;
    line-height: 1.2rem;
    color: $grey-text;
  }

  .auth-field__input {
    height: 4.6rem;
    padding: 1.5rem;
    box-sizing: border-box;
    border: none;
    border-radius: 0.8rem;
    background-color: $btn-bg;
  }
}