@use '../../../../scss' as *;

.about-me {
  @include pagePadding;
  background-color: $black;
  min-height: 107.9rem;
  max-height: fit-content;

  @media screen and (max-width: 768px) {
    padding: 9rem 5rem;
    // max-height: 99.4rem;
  }
  
  .about-me__container {
    @include centerContainer;

    // DESCRIPTION
    .about-me__description {
      display: flex;
      justify-content: space-between;
      margin-top: 6.6rem;
      gap: 4.9rem;

      @media screen and (max-width: 570px) {
        flex-direction: column;
      }

      .about-me__description-text-container {
        max-width: 60rem;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;

        .about-me__description-name {
          @include text;
          font-size: 5rem;
          line-height: 5.8rem;
          letter-spacing: -0.04em;

          @media screen and (max-width: 768px) {
            font-size: 4rem;
            line-height: 4rem;
          }
        }

        .about-me__description-position {
          @include text;
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 2rem;

          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
            line-height: 1.8rem;
          }
        }

        .about-me__description-bio {
          margin-top: 0.8rem;
          font-size: 1.4rem;
          line-height: 2.2rem;

          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
            line-height: 1.8rem;
          }
        }

        .about-me__description-github {
          margin-top: 8.1rem;
          @include text;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.7rem;
        }
      }

      .about-me__photo {
        height: 30.7rem;
        width: auto;

        @media screen and (max-width: 768px) {
          height: 100%;
        }
      }
    }

    // PORTFOLIO
    .about-me__portfolio {
      margin-top: 10.1rem;
      display: flex;
      flex-direction: column;
      gap: 5rem;

      @media screen and (max-width: 768px) {
        margin-top: 9rem;
      }

      .about-me__portfolio-header {
        @include text;
        font-size: 1.8rem;
        line-height: 2rem;
        color: $grey-text;
      }

      .about-me__portfolio-links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}
