$promo-bg: #073042;
$white: #ffffff;
$white-half-opaque: rgba(255, 255, 255, 0.5);
$black: #202020;
$grey: #dadada;
$light-grey: #303030;
$green: #3DDC84;
$grey-text: #8B8B8B;
$grey-bg: #272727;
$grey-border: #424242;
$input-outline: #AAAAAA;
$input-outline-02opaque: rgba(170, 170, 170, 0.2); 
$card-bg: #222222;
$btn-bg: #2F2F2F;
$red: #EE3465;
$blue: #4285F4;

@mixin text {
  font-family: 'Inter' 'Arial' sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin flexColCen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin pagePadding {
  padding: 11rem 7rem;
  box-sizing: border-box;
}

@mixin centerContainer {
  margin: 0 auto;
  max-width: 128rem;
}

@mixin movieContainer {
  padding: 7rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.8rem;
  column-gap: 3.2rem;
}

@mixin linkBorder {
  height: 0.1rem;
  width: 100%;
  background-color: $grey-border;
}