@use '../../../../scss/variables' as *;

.auth-header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;

  @media screen and (max-width: 450px) {
    align-items: center;
    margin-bottom: 4rem;
  }

  .auth-header__title {
    @include text;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 500;
    color: $white;
  }
}
