@use '../../../../scss' as *;

.about-project {
  @include pagePadding;
  min-height: 60.8rem;
  background-color: $black;
  box-sizing: border-box;

  .about-project__container {
    @include centerContainer;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    // STEPS
    .about-project__steps-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .about-project__step {
        display: flex;
        flex-direction: column;
        gap: 2.6rem;

        .about-project__step-header {
          @include text;
          font-size: 2rem;
          line-height: 2.4rem;
          letter-spacing: -0.04em;
        }

        .about-project__step-text {
          @include text;
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }

    // PROGRESS
    .about-project__progress {
      margin-top: 4rem;

      .about-project__progress-step {
        .about-project__progress-step-headers-wrapper {
          display: grid;
          grid-template-columns: 1fr 4fr;
          background-color: $light-grey;
          min-height: 3.6rem;

          .about-project__progress-step-header {
            @include text;
            @include flexColCen;
            width: 100%;
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.7rem;
          }

          .green {
            background-color: $green;
            color: $black;
          }
        }

        .about-project__progress-step-footers-wrapper {
          display: grid;
          grid-template-columns: 1fr 4fr;
          min-height: 3.6rem;
          justify-items: center;
          margin-top: 1.4rem;

          .about-project__progress-step-footer {
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: $grey-text;
          }
        }
      }
    }
  }
}
