@use '../../../../scss/variables' as *;

.header {
  z-index: 2;
  padding: 1.8rem 7rem;
  box-sizing: border-box;
  width: 100%;
  max-height: 7.4rem;
  margin: 0 auto;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1434px) {
    padding: 1.8rem 0;
    max-width: 128rem;
  }

  @media screen and (max-width: 450px) {
    padding: 1.8rem 1.4rem;
    max-width: 128rem;
  }
}
