@use '../../../../../scss/variables' as *;

.small-menu {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(33, 33, 33, 0.2);

  .small-menu__close-icon {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    background-image: url('../../../../../assets/images/menu_close_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 3;
    cursor: pointer;
  }

  .small-menu__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 66%;
    height: 100vh;
    background-color: $black;
    padding: 15.9rem 9rem 9rem;
    box-sizing: border-box;

    .nav-movies {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .nav-movies__btns {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .nav-button {
          @include text;
          @include buttonText;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }

    .nav-account-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
      width: 10rem;
      height: 3.2rem;
      border: 0.2rem solid $input-outline-02opaque;
      border-radius: 5rem;
      padding: 0.8rem 1.2rem;
      box-sizing: border-box;
      cursor: pointer;
  
      .nav-account {
        background-color: transparent;
        border: none;
      }
    }
  }
}
